**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/dist
**/build
docker-compose*.yml
.env
.env.local
*.md
LICENSE

